.container {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100%;

    @media (min-width: 1750px) {
        height: calc(100dvh - 12.36rem);
    }
}
