.container {
    background-color: var(--athens-gray);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4.63rem;
    padding: 0 1rem;
    width: 100%;
    max-width: 1200px;
    align-items: center;

    @media (min-width: 1750px) {
        max-width: 85.87rem;
    }

    .congrats {
        text-align: center;
        font-size: var(--font-weight-bold);
        color: var(--prussian-blue);

        h1 {
            font-size: 2rem;

            @media (min-width: 1000px) {
                font-size: 3rem;
            }
        }
    }

    .summary {
        display: flex;
        gap: 3.13rem;
        flex-direction: column;
        font-size: 1.25rem;
        font-weight: var(--font-weight-bold);
        .title {
        }

        .content {
            margin-left: -1.62rem;
        }
    }
}
